* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;
}

.header {
    background: blue;
    align-items: center;
    display: flex;
    justify-content: center;   
    height: 10rem;
}

.header img {
    width: 8rem;
    border-radius: .5rem;
    margin: 2rem;
}

h1 {
    color: white;
    margin: 2rem;

}

menu {
    display: flex;
    justify-content: space-around;
    background: black;
    padding: 1rem;
}

a {
    color: white;
    text-decoration: none;
}



h2 {
    padding: .5rem;
    background: blue;
    color: white;
    text-align: center;
}


main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: wheat;
}

li {
    margin: 1rem;
}

.tijuana {
    width: 15rem;
    display: flex;
    padding: 3.5rem;
}

section {
    margin: 3rem;
    background: white;
    border-radius: .5rem;
    overflow: hidden;
}
button {
    background: brown;
    width: 6.5rem;
    padding: .5rem;
    color: white;
    border-radius: .2rem;
}

