* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;
}

body {
    background: white;
}

.header {
    background: #0A3981;
    align-items: center;
    display: flex;
    justify-content: center;   
    height: 10rem;
}

.header img {
    width: 8rem;
    border-radius: .5rem;
    margin: 2rem;
}

h1 {
    color: white;
    margin: 2rem;
}

nav {
    display: flex;
    justify-content: space-around;
    background: black;
    padding: 1rem;
}

nav :hover {
    color: #f39c12;
}

a {
    color: white;
    text-decoration: none;
}

p {
    text-align: center;
    margin-bottom: 1rem;
    font-size: large;
}

h2 {
    padding: .5rem;
    background: #0A3981;
    color: white;
    text-align: center;
}

li {
    margin: 1rem;
}

#tijuana {
    width: 15rem;
    padding: 1rem;
    display: block;
    margin: 0 auto;
}


.selected {
    background-color: #f39c12; 
    color: white;
    border-color: #f39c12; 
}



.course:hover {
    background-color: #f39c12;
}



.course:hover {
    background-color: #f39c12;
}


.course.completed {
    background: #1F509A; 
    color: white; 
}

.course.completed:hover {
    background-color: #3862a1; 
}


#container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;    
}

section {
    margin: 3rem;
    background: white;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}


.filter-buttons {
    text-align: center;
    margin-bottom: 1rem;
}

.filter-buttons button {
    padding: 0.5em 1em;
    margin: 0.5em;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-buttons button:hover {
    background-color: rgb(37, 37, 37);
}

#courses {
    display: grid;
    padding: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 9rem;
}

.course {
    align-items: center;
    background: brown;
    color: white;
    border-radius: 0.5rem;
}

button {
    align-items: center;
    justify-content: center;
    margin: 1rem;
    width:17rem;
    height: 3rem;
    border-radius: 0.3rem;
}

footer {
    text-align: center;
    padding: 1.5rem;
    background: #0A3981;
    color: white;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    #container {
        margin: 1.5rem;
        grid-template-columns: 1fr; 
    }

    #container-certificate {
        display: grid;
        margin: 1.5rem;
        height: auto;        
    }

    .filter-buttons  {
        display: flex;
        justify-content: center;

    }

     .header img {
        width: 6rem; 
    }

    p {
        font-size: large;
    }
 

    #courses {
        margin: auto;
        grid-template-columns:   1fr 1fr;
        align-items: center;
    }

    .course {
        margin-top: 1rem;
        width: 80%; 
        margin-bottom: 1rem;
    }
}

@media (max-width: 768px) {

    .header {
        flex-direction: column; 
        height: auto;
    }

    .header img {
        width: 5rem;
        margin: 1rem;
    }

    h1 {
        font-size: 1.5rem; 
    }

    p {
        font-size: medium;
    }

    nav {
        flex-direction: column; 
        text-align: center;
        padding: 0.5rem;
    }

    #courses {
        margin-top: 1rem;
        grid-template-columns:  1fr;
        align-items: center;
    }

    .course {
        width: 80%; 
        margin-bottom: 1rem;
    }



    section {
        margin: 2rem 0; 
    }

 
    .filter-buttons button {
        width: 100%;    
        grid-template-columns: 1fr 1fr 1fr;
    }

  
    footer {
        padding: 1rem; 
    }
}




